.status_ok {
  color: Green;
}

.status_error {
  color: Red;
}

h1 {
  color: navy;
  font-weight: normal;
  text-shadow: #ccf 2px 2px;
}

table.cin_tables {
  background: #CCC;
  font-size: 14px;
  width: 1200;
}
table.cin_tables th {
  border-width: 0px 1px 1px 0px;
  border-color: #FFF;
  border-style: solid;
}

.name_head {
  width: 200px;
}
.default_head {
  width: 70px;
}
.remove_head {
  width: 65px;
}
.reload_head {
  width: 60px;
}
.setting_head {
  width: 150px;
}
.url_head {
  width: 600px;
}
