.status_ok {
  color: Green;
}

.status_error {
  color: Red;
}

h1 {
  color: navy;
  font-weight: normal;
  text-shadow: #ccf 2px 2px;
}

table.cin_tables {
  background: #CCC;
  font-size: 14px;
  width: 90%;
}
table.cin_tables th {
  border-width: 0px 1px 1px 0px;
  border-color: #FFF;
  border-style: solid;
}

.name_head {
  width: 15%;
}
.default_head {
  width: 5%;
}
.remove_head {
  width: 5%;
}
.reload_head {
  width: 5%;
}
.url_head {
  width: 30%;
}
.setting_head {
  width: 15%;
}
.link_head {
  width: 15%;
}
