body {
  background: white;
}

.status_ok {
  color: Green;
}

.status_error {
  color: Red;
}

h1 {
  color: navy;
  font-family: sans-serif;
  border-bottom: 5px solid #ddd;
}

.sortable { list-style-type: none; margin: 0.5em; padding: 0.5em;
            border: 2px solid #eee; min-width: 300px; min-height: 100px; }
.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em;
               cursor: pointer; min-width: 300px; }
.sortable li span.ui-icon { position: absolute; margin-left: -1.3em; }

table.cin_tables {
  background: #ddf;
  font-size: 14px;
  width: 90%;
}
table.cin_tables th {
  background: #ccf;
  border-width: 0px 1px 1px 0px;
  border-color: #FFF;
  border-style: solid;
}

table.cin_tables .even_row {
  background: #eef;
}

.name_head {
  width: 15%;
}
.default_head {
  width: 5%;
}
.remove_head {
  width: 5%;
}
.reload_head {
  width: 5%;
}
.url_head {
  width: 30%;
}
.setting_head {
  width: 15%;
}
.link_head {
  width: 15%;
}

#cin_table_url_input {
  padding: 0.3em;
  margin: 0.3em;
  font-size: 1.2em;
}

select#odlist_select option {
  padding-right, padding-left: 1em;
}

select#odlist_select {
  padding: 0.5em;
  width: 35em;
}

input[type=file]::file-selector-button {
  padding-right: 1em;
  margin-right: 1em;
  transition: .5s;
}

label {
  cursor: pointer;
}

#divOptsBox {
  border: 1px solid #ccc;
  margin: 7px;
  padding: 7px;
}

label:hover {
  color: navy;
  background-color: #f8f8f8;
}

label.disabled {
   color: darkgrey;
}

#optionBytesInUse {
  text-align: right;
  font-size: 90%;
}

#dialog_alert_restart .ui-icon-alert {
  margin: 0 7px 20px 0;
}

#optionTableDetailSource {
  word-wrap: break-word;
  word-break: break-all;
  resize: none;
  width: 100%;
}

.fontBold {
  font-weight: bold;
}

.floatLeft {
  float: left;
}

.clearBoth {
  clear: both;
}

/*
.input_container {
  border: 1px solid #e5e5e5;
}


input[type=file]::file-selector-button:hover {
  background-color: #eee;
  border: 0px;
  border-right: 1px solid #e5e5e5;
}
*/
