body {
  background: white;
}

.status_ok {
  color: Green;
}

.status_error {
  color: Red;
}

h1 {
  color: navy;
  font-family: sans-serif;
  border-bottom: 5px solid #ddd;
}

.sortable { list-style-type: none; margin: 0.5em; padding: 0.5em;
            border: 2px solid #eee; min-width: 300px; min-height: 100px; }
.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em;
               cursor: pointer; min-width: 300px; }
// { margin: 0 5px 5px 5px; padding: 5px; width: 120px; }
.sortable li span.ui-icon { position: absolute; margin-left: -1.3em; }

table.cin_tables {
  background: #ddf;
  font-size: 14px;
  width: 90%;
}
table.cin_tables th {
  background: #ccf;
  border-width: 0px 1px 1px 0px;
  border-color: #FFF;
  border-style: solid;
}

table.cin_tables .even_row {
  background: #eef;
}

.name_head {
  width: 15%;
}
.default_head {
  width: 5%;
}
.remove_head {
  width: 5%;
}
.reload_head {
  width: 5%;
}
.url_head {
  width: 30%;
}
.setting_head {
  width: 15%;
}
.link_head {
  width: 15%;
}
