body.imeBody {
  background: none transparent;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#imePanel, .imePanel {
  padding: 0.5em;
  min-width: 50px;
  min-height: 50px;
  background: #eee;
  border: 2px solid #aaa;
  float: left;
  margin: 10px;
  font-family: courier;
  box-shadow: 5px 5px 10px #ccc;
}

#menu {
  background: #acf;
  font-size: 1em;
  min-width: 10em;
  padding: 2px;
  margin: 5px;
}

#menu div:hover {
  background: #cef;
  cursor: pointer;
}

#menu .active {
  background: #cdf;
}

#composition {
  font-weight: bold;
  color: #777;
  padding: 2px;
  margin: 5px;
  background: #ddd;
}
#composition .segment {
  text-decoration: underline;
  padding-right: 2px;
}

#composition .cursor {
  background: #aaa;
  padding: 1px;
  margin: 0;
}

#auxiliary {
  text-align: right;
}

.candidate:hover {
  background: #888;
  color: #fff;
  cursor: pointer;
}

.candidate_label {
  font-size: 80%;
  color: #f00;
}

#candidates {
  background: #fff;
  padding: 2px;
  margin: 5px;
  /*  white-space: nowrap; */
}

#candidates span {
  /* Some IMEs like Chewing will try to display lots of candidates, so let's
     allow wrapping. */
  /* white-space: nowrap; */
}

.hidden {
  display: none;
}
